<header>
  <h1>{{title}}</h1>
  <h2>La page inutile qui te dit s'il pleut ou s'il fait beau !</h2>
  <div class="nav">
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
  </div>
</header>